/node_modules
/public/hot
/public/storage
/public/uploads/noticia/*.*
/public/uploads/parceiro/*.*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
